body {
    background-color: cyan;
}

 nav a {
    color: orange;
}

#current-link {
   text-decoration: seagreen; 
}

h1 {
 border: 2px dashed orange;
 padding: 20px;
 padding-bottom:20px;
     padding-left:50px;
     margin-top:50px;
     margin-left:50px;
     margin-right:100px;
}

h2 a {
    color: orange;
}

img {
    width: 150px
    height auto;
}

body{
    color: orange;
}

