
 nav a{
    color: purple;
}

#current-link{
   text-decoration: underline; 
}

h1{
 border: 2px dashed white;
 padding: 20px;
 padding-bottom:20px;
     padding-left:50px;
     margin-top:50px;
     margin-left:100px;
     margin-right:100px;
}

h2 a{
    color: purple;
}


body{
    color: red;
}

a{
    font-family: cursive;
}

h1{
    text-align: center;
}



h1{
    font-size: 50px;
}


h1{
    color:#00ff00;
}

a:link{
    background-color: #FFFF85;
}

body{
    font-family: monospace;
}

body{
    background-color: cyan;
    background-image: url('http://wallpoper.com/images/00/44/12/93/rayure-cyan_00441293.jpg');
}

p{
    font-size: 20px;
}

h2{
    font-size: 23px;
}

a{
    font-size:30px; 
}

nav{
    text-indent: 470px;
}